#contact{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: calc(100vh - 4rem);
}
h3{
    text-align: center;
    margin-top:4rem;
    font-size: x-large;
    /* font-size: xx-large; */
    /* font-weight: 700; */
}
#cont{
    text-align: center;
    margin-top: 2px;
    font-size: xx-large;
    font-weight: 700;
}
#cont_para{
    text-align: center;
}
#me_here{
    background: -webkit-linear-gradient(120deg, #ff00f7,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
form{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 2rem;
}
label{
    width: 40%;
    margin-top: 1.5rem;
}
input{
    width: 40%;
    border: 2px solid rgba(245, 245, 245, 0.37);
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
    background-color: #0f172a;
    margin-top: 5px;
   /* padding: 15px; */
}
input:focus{
    background-color: #0f172a;
    border: 3px solid rgba(0, 255, 255, 0.432);
    outline: 0;
}
textarea:focus{
    background-color: #0f172a;
    border: 3px solid rgba(0, 255, 255, 0.432);
    outline: 0;
}
#texta{
    width: 40%;
    margin-top: 5px;
    background-color: #0f172a;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
}
.subtn{
    margin-top: 1.5rem;
    width: 10%;
    padding: 5px;
    font-weight: bolder;
    color: rgba(245, 245, 245, 0.37);
    border: 2px solid rgba(245, 245, 245, 0.37);
    background-color: #0f172a;
    border-radius: 5px;
}
.subtn:hover{
    border: 2px solid rgba(0, 255, 255, 0.789);
    cursor: pointer;
    color: white;
}
input::placeholder{
    font-size: 1rem;
}
textarea::placeholder{
    font-size: 1rem;
    padding: 5px;
}
#thank{
    padding: 0;
    margin-top: 1.5rem;
    animation:  4s ease-in infinite forwards;

}
@keyframes s{
    0%{
        color: #FF5733;
        /* transform:skew(5deg) */
    }
    5%{
        color: #33FFBD;
    }
    10%{
        color: #4A90E2;

    }
    15%{
        color: #F5A623;

    }
    20%{
        color: #50E3C2 ;

    }
    25%{
        color: #D0021B;
        transition: scale(1.2);
    }
    30%{
        color: #B8E986;

    }
    35%{
        color: #4A4A4A;

    }
    40%{
        color: #8B572A ;

    }
    45%{
        color: #7ED321;

    }
    50%{
        color: #9013FE;
        transition: scale(1.4);

    }
    55%{
        color: #F8E71C ;

    }
    60%{
        color: #FF69B4;
    }
    65%{
        color: #1E90FF ;

    }
    70%{
        color: #DAA520;

    }
    75%{
        color:#556B2F  ;
        transition: scale(1.5);
    }
    80%{
        color: #FF4500;

    }
    85%{
        color:#32CD32 ;

    }
    90%{
        color: #4682B4;

    }
    95%{
        color: #FFD700 ;

    }
    100%{
        color: #FF5733;
        transition: scale(1);
    }
}
@media screen and (max-width:840px) {
    #contact{
        /* border: 2px solid red; */
        width: 100%;
    }
    #form{
        /* border: 2px solid green; */
    }
    #for_Padding{
        padding: 0 2rem;
    }
    input{
        width: 100%;
    }
    #texta{
        width: 100%;
    }
    #me_here{
        color: white;
        filter: drop-shadow(1px 1px 4px #bd0058);
    }
    label{
        width: 100%;
        /* border: 2px dotted green; */
    }
    .subtn{
        width: 60%;
    }

}